.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h2 {
  text-align: center;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.navbar > li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar > li > a {
  text-decoration: none;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar > li:hover {
  background-color: #ddd;
  color: black;
}

.navbar > li:last-child {
  border-right: none;
}

.bloc-tabs {
  display: flex;
  width: 80%;
  margin: auto;
}
.tabs {
  transition: 0.3s;
  padding: 10px;
  text-align: center;
  width: 100%;

  background: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #ebebeb;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: green;
}

.content {
  background: white;
  width: 80%;
  margin: auto;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.Dashboard {
  width: 100%;
  max-width: 100vh;
  margin: 0 auto;
  padding: 30px;
}

.recently-played {
  margin: auto;
  width: 75%;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

  .recently-played {
      margin: 30px;
  }
  
  table tr {
    display: block;
    text-align: left;
  }

table {
  text-align: left;
  margin: 50px;
}


}

table {
  text-align: left;
  margin: 10px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  overflow: hidden;
  transition: 0.3s;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

td > a:first-child {
  display: flex;
  margin: -10em;
  padding: 10em;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Montserrat", sans-serif;
}

tr:hover,
tr:focus-within {
  background: #ebebeb;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  transition: 0.3s;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: 0.3s;

  display: flex;
}
.card img {
  margin-right: 20px;

  width: 15vh;
  height: 15vh;
}
.TrackInfoLink {
  text-decoration: none;
  color: inherit;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #ebebeb;
}

/* Add some padding inside the card container */
.containerCard {
  padding: 2px 16px;
  text-align: left;
}

.player {
  position: fixed;
  padding: 10px;
  width: 96%;
  text-align: center;
  background-color: white;
  bottom: 0;
}
